version: "3"

services:
    api:
        image: alexiscrack3/spinny-api:latest
        container_name: api
        env_file: .env
        environment:
            MONGO_HOSTNAME: db
            MONGO_PORT: $MONGO_PORT
            MONGO_DB: $MONGO_DB
        depends_on:
            - db
        ports:
            - "3000:3000"
            # - "3000-3010:3000"
        networks:
            - spinny-network
    db:
        image: mongo
        container_name: db
        ports:
            - "27017:27017"
        networks:
            - spinny-network
        volumes:
            - dbdata:/data/db
    web:
        container_name: web
        env_file: .env
        environment:
            REACT_APP_BASE_URL: $REACT_APP_BASE_URL
        depends_on:
            - api
        ports:
            - "80:80"
        networks:
            - spinny-network

networks:
    spinny-network:
        driver: bridge

volumes:
  dbdata:
